
.container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 45px;
}

.card{
    width: 300px;
    border: 1px solid black;
}

.card h2{
    text-align: center;
}

figure .img {
    width: 400px;
    text-align: center;
}

nav{
    text-align: center;
    width: 100%;
}
